{% extends "base.html" %}

{% block content %}
<h4>Create An Account</h4>

<h6>* Required fields</h6>

<form action="/signup" method="post" >
    <label for="username"> Username* </label>
        <input name="username" type="text" value="{{request.form['username']}}" />
        <p class="error">{{username_error}}</p>
       
    <label for="password"> Password* </label>
        <input name="password" type="password" value="{{ password }}" />
        <p class="error">{{password_error}}</p>
  

    <label for="verify"> Verify* </label>
        <input name="verify" type="password" value="{{ verify }}" />
        <p class="error">{{verify_error}}</p>
   
     <br>
    <input type="submit" value="Sign Up">
</form>
{% endblock %}